<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<div class="body" [ngStyle]="{'background': cityVar}">
    <app-navigation-menu></app-navigation-menu>
    <div class="body-second">
        <div class="card">
            <div class="search" [ngStyle]="{'margin-top': marginTop, 'top': top}">
                <form #weatherForm="ngForm" (submit)="getFormData(weatherForm.value)">
                    <input type="text" ngModel name="search" #input id="search-input" placeholder="Search city...">
                    <!-- <a id="search-button"><i class="fas fa-search"></i></a> -->
                    <button id="search-button"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="main" [ngStyle]="{'display':display}">
                <h1>{{cityName}}</h1>
                <div class="temperature">
                    <p id="main-temp" style="font-size: 50px;">{{temperature}} <span>&#176;</span> C</p>
                    <img class="weather-icon" [src]="iconImg" alt="">
                    <p id="description">{{wdescription | titlecase}}</p>
                </div>
                <hr>
                <div class="details">
                    <h4>Feels like: {{feelsLike}} <span>&#176;</span> C</h4>
                    <h4>Humidity: {{humidity}}%</h4>
                    <h4>Wind speed: {{windSpeed}} km/h</h4>
                    <h4>Pressure: {{pressure}} hPa</h4>

                </div>
            </div>

        </div>
    </div>

    <router-outlet></router-outlet>
</div>